*{
  font-family: arial;
}
#controls{
   float: right;
   width:700px
}
#play-div{
   padding:0px
}
#win-div, #near-win-div, #loss-div{
   padding:20px;
   padding-top:2px;
   padding-bottom:2px;
   float:left;
   width:250px
}
#win-div{
   background-color:#00ff00;
}
#near-win-div{
   background-color:#ffff00;
}
#loss-div{
   background-color:#ff0000;
}

#test-div{
   float:right;
   width:300px;
   background-color:#dddddd
}

.button-class, #select, option, select{
   background:  #cccccc;
   border: none;
   font-size: 12px;
   height: 30px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 100px;
   color: #000;
   margin-bottom: 10px;
   
   border-radius: 20px;
   cursor: pointer;
}